<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sk.fei.videoeditor">

    <uses-sdk tools:overrideLibrary="com.otaliastudios.opengl" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">
        <activity
            android:name=".activities.GalleryRecycleView"
            android:label="@string/gallery_recycle_view"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".activities.FolderRecycleView"/>
        <activity
            android:name=".activities.FolderRecycleView"
            android:label="@string/folder_view"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".activities.MediaFileRecycleView"/>
        <activity
            android:name=".activities.VideoViewer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".activities.MediaFileRecycleView"
            />

        <activity
            android:name=".activities.AudioFileRecycleView"
            android:label="@string/my_music"
            android:parentActivityName=".activities.Camera"
            android:resource="@xml/searchable"
            android:screenOrientation="fullSensor"
            />
        <activity
            android:name=".activities.MediaFileRecycleView"
            android:label="@string/app_name"
            android:resource="@xml/searchable"
            android:screenOrientation="fullSensor"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.About"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sk.fei.videoeditor.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.Camera"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            />
        <activity
            android:name=".activities.TrimVideo"
            android:icon="@mipmap/ic_pause"
            android:label="@string/title_activity_trim"
            android:parentActivityName=".activities.GalleryRecycleView"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activities.VideoPreview"
            android:label="@string/title_activity_video"
            android:screenOrientation="fullSensor"
             />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="fullSensor"
            />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>